	<fields>
		<fullName>Other_Income__c</fullName>
		<label>Other Income</label>
		<type>Currency</type>
		
		
		<precision>7</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Einstein_Article_2_Source__c</fullName>
		<label>Einstein - Article 2 Source</label>
		<type>Text</type>
		<length>50</length>
		
		
		
	</fields>
	<fields>
		<fullName>Partner_Certification__c</fullName>
		<label>Partner Certification</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Current_Year_Revenue_Goal__c</fullName>
		<label>Current Year Revenue Goal</label>
		<type>Currency</type>
		
		
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>EDY_ORGCUSTOM__Old_Name__c</fullName>
		<label>Old Name</label>
		<type>Text</type>
		<length>50</length>
		
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_3_Source__c</fullName>
		<label>Einstein - Article 3 Source</label>
		<type>Text</type>
		<length>50</length>
		
		
		
	</fields>
	<fields>
		<fullName>Opportunity_Win_Rate__c</fullName>
		<label>Opportunity Win Rate</label>
		<type>Percent</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>1</scale>
	</fields>
	<fields>
		<fullName>Lead_To_Opportunity_Close_Rate__c</fullName>
		<label>Lead To Opportunity Close Rate</label>
		<type>Percent</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>1</scale>
	</fields>
	<fields>
		<fullName>Map_the_Account__c</fullName>
		<label>Map the Account</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>analyticsdemo_batch_id__c</fullName>
		<label>analyticsdemo_batch_id__c</label>
		<type>Text</type>
		<length>50</length>
		
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_1_URL__c</fullName>
		<label>Einstein - Article 1 URL</label>
		<type>Url</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Closed_Won_Value__c</fullName>
		<label>Total Sales</label>
		<type>Currency</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>2</scale>
	</fields>
	<fields>
		<fullName>Personal_Assets__c</fullName>
		<label>Personal Assets</label>
		<type>Currency</type>
		
		
		<precision>8</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Contract_Signed__c</fullName>
		<label>Contract Signed</label>
		<type>Checkbox</type>
		<defaultValue>false</defaultValue>
		
		
		
	</fields>
	<fields>
		<fullName>Rating_Indicator__c</fullName>
		<label>Value Indicator</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Account_Source_Custom__c</fullName>
		<label>Account Source Custom</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Show_on_Checkin_Map__c</fullName>
		<label>Show on Checkin Map</label>
		<type>Checkbox</type>
		<defaultValue>false</defaultValue>
		
		
		
	</fields>
	<fields>
		<fullName>Current_Year_Target__c</fullName>
		<label>Current Year Target</label>
		<type>Currency</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>External_ID__c</fullName>
		<label>External ID</label>
		<type>Text</type>
		<length>255</length>
		
		
		
	</fields>
	<fields>
		<fullName>Last_Year_Revenue_Generated__c</fullName>
		<label>Last Year Revenue Generated</label>
		<type>Currency</type>
		
		
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Percent_Won__c</fullName>
		<label>Percent Won</label>
		<type>Percent</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Account_Location__c</fullName>
		<label>Account Location</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Longitude__c</fullName>
		<label>Longitude</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Partner_Program_Level__c</fullName>
		<label>Partner Program Level</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_3_Title__c</fullName>
		<label>Einstein - Article 3 Title</label>
		<type>Text</type>
		<length>200</length>
		
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_1_Date__c</fullName>
		<label>Einstein - Article 1 Date</label>
		<type>Date</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Client_Services__c</fullName>
		<label>Client Services</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Net_Worth__c</fullName>
		<label>Net Worth</label>
		<type>Currency</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>EDY_ORGCUSTOM__DB__c</fullName>
		<label>DB</label>
		<type>Checkbox</type>
		<defaultValue>false</defaultValue>
		
		
		
	</fields>
	<fields>
		<fullName>CreatedDate__c</fullName>
		<label>Created Date</label>
		<type>DateTime</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Lead_Conversion_Rate__c</fullName>
		<label>Lead Conversion Rate</label>
		<type>Percent</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>1</scale>
	</fields>
	<fields>
		<fullName>jsImpacts__Data_com_Matched__c</fullName>
		<label>Data.com Matched</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Global_Tiering__c</fullName>
		<label>Global Tiering</label>
		<type>Text</type>
		<length>18</length>
		
		
		
	</fields>
	<fields>
		<fullName>Local_Tiering__c</fullName>
		<label>Local Tiering</label>
		<type>Text</type>
		<length>100</length>
		
		
		
	</fields>
	<fields>
		<fullName>YTD_Revenue_Generated__c</fullName>
		<label>YTD Revenue Generated</label>
		<type>Currency</type>
		
		
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>of_Reps_Trained__c</fullName>
		<label>% of Reps Trained</label>
		<type>Percent</type>
		
		
		<precision>3</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>jsImpacts__Data_com_does_not_auto_update__c</fullName>
		<label>Data.com Does Not Auto-Update</label>
		<type>Checkbox</type>
		<defaultValue>false</defaultValue>
		
		
		
	</fields>
	<fields>
		<fullName>Customer_Satisfaction_Index__c</fullName>
		<label>Customer Satisfaction Index</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Client_Tier__c</fullName>
		<label>Client Tier</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Customer_Account__c</fullName>
		<label>Customer Account #</label>
		<type>Text</type>
		<length>255</length>
		
		
		
	</fields>
	<fields>
		<fullName>Open_vs_Closed_Opportunities__c</fullName>
		<label>Open vs. Closed Opportunities</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Global_Ultimate_D_U_N_S_Number__c</fullName>
		<label>Global Ultimate D-U-N-S Number</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Region__c</fullName>
		<label>Region</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Value_Closed_Won_Opportunties__c</fullName>
		<label>Value Closed Won Opportunities</label>
		<type>Currency</type>
		
		
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Open_Oppty_Value__c</fullName>
		<label>Open Oppty Value</label>
		<type>Currency</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>2</scale>
	</fields>
	<fields>
		<fullName>Einstein_Article_2_Date__c</fullName>
		<label>Einstein - Article 2 Date</label>
		<type>Date</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Open_vs_Closed_Won_Opportunities__c</fullName>
		<label>Open vs. Closed Won Opportunities</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Einstein_Account_Insights__c</fullName>
		<label>Einstein - Account Insights</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Delinquency_Risk_Data__c</fullName>
		<label>Delinquency Risk</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Tier__c</fullName>
		<label>Tier</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Value_Open_Opportunties__c</fullName>
		<label>Value of Open Opportunities</label>
		<type>Currency</type>
		
		
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Partner_Type__c</fullName>
		<label>Partner Type</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_1_Title__c</fullName>
		<label>Einstein - Article 1 Title</label>
		<type>Text</type>
		<length>200</length>
		
		
		
	</fields>
	<fields>
		<fullName>Application_Date__c</fullName>
		<label>Application Date</label>
		<type>Date</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Liabilities__c</fullName>
		<label>Liabilities</label>
		<type>Currency</type>
		
		
		<precision>7</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Firm_AUM__c</fullName>
		<label>Firm AUM</label>
		<type>Currency</type>
		
		
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Goal_Attainment__c</fullName>
		<label>% Goal Attainment</label>
		<type>Percent</type>
		
		<formula>0</formula>
		<precision>18</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Global_Business_Name_Data__c</fullName>
		<label>Global Business Name</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Customer_Value__c</fullName>
		<label>Customer Value</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Win_Loss_Ratio__c</fullName>
		<label>Win Loss Ratio</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>ShippingGeo__c</fullName>
		<label>ShippingGeo</label>
		<type>Location</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Account_Priority__c</fullName>
		<label>Account Priority</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Annual_Income__c</fullName>
		<label>Annual Income</label>
		<type>Currency</type>
		
		
		<precision>7</precision>
		<scale>0</scale>
	</fields>
	<fields>
		<fullName>Scorecard_Last_Updated__c</fullName>
		<label>Scorecard Last Updated</label>
		<type>DateTime</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Show_Partner_Users__c</fullName>
		<label>Show Partner Users</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Corporate_Access_Tiering__c</fullName>
		<label>Corporate Access Tiering</label>
		<type>Text</type>
		<length>10</length>
		
		
		
	</fields>
	<fields>
		<fullName>Latitude__c</fullName>
		<label>Latitude</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_2_Title__c</fullName>
		<label>Einstein - Article 2 Title</label>
		<type>Text</type>
		<length>200</length>
		
		
		
	</fields>
	<fields>
		<fullName>Account_Status__c</fullName>
		<label>Account Status</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>URLsrc__c</fullName>
		<label>URLsrc</label>
		<type>Text</type>
		
		<formula></formula>
		
		
	</fields>
	<fields>
		<fullName>Einstein_Article_1_Source__c</fullName>
		<label>Einstein - Article 1 Source</label>
		<type>Text</type>
		<length>50</length>
		
		
		
	</fields>
	<fields>
		<fullName>Overdue_Invoice_Revenue__c</fullName>
		<label>Overdue Invoice Revenue</label>
		<type>Currency</type>
		
		<formula>0</formula>
		<precision>17</precision>
		<scale>2</scale>
	</fields>
	<fields>
		<fullName>Einstein_Article_2_URL__c</fullName>
		<label>Einstein - Article 2 URL</label>
		<type>Url</type>
		
		
		
		
	</fields>
	<fields>
		<fullName>Partnership_Status__c</fullName>
		<label>Partnership Status</label>
		<type>Picklist</type>
		
		
		
		
	</fields>
